
#layout_basic {
    position: relative;
    display: flex;
    width:1000px;
    height:500px;
    /* background-color: red; */
    border : 1px solid gray;
    margin:0 auto;

}

#layout_upload {
    position: relative;
    width:400px;
    height:500px;
    /* background-color: aqua; */
    border-right: 1px solid gray;
}

#section_checkList {
    position: relative;
    overflow-y: auto;
    width:400px;
    height:330px;
    /* background-color: tomato; */
}

#layout_download {
    position: relative;
    width:600px;
    /* background-color: bisque; */
}


#section_downLoad {
    position: relative;
    /* background-color: slategrey; */
    height:100%;
}

#section_downLoad .downloadBtn {
    position: relative;
    margin-left:480px;
    margin-top:10px;
    /* background-color: red; */
}

#layout_download #section_downLoad #section_fileList {
    background-color: steelblue;
    /* justify-content: space-between; */
    height:350px;
}

#layout_download #section_downLoad #section_fileList .fileItem{
    /* background-color: red; */
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-direction: row;
    justify-content: space-between; */
    /* font-size: 20pt;
    line-height: 20pt;
    margin-top:20px*/
} 

#layout_download #section_downLoad #section_fileList .fileItem label {
    font-size: 15pt;
}

#section_pagination {
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    /* height:80px; */
    /* background-color: skyblue; */
}
