

/* .header {
    background-color: gray;
} */

.ui.left.pointing.basic.label {
    white-space: nowrap;
    overflow-x: auto;
    width:150px;
}

#layout_basic {
    position: relative;
    display: flex;
    width:800px;
    height:500px;
    /* background-color: red;  */
    /* border : 1px solid gray; */
    margin:0 auto;
    margin-top: 10px;
}

#layout_upload {
    position: relative;
    width:40%;
    height:500px;
    /* background-color: aqua; */
    padding : 10px 0 0 10px;
    border-right: 1px solid silver;
}

#section_checkList {
    position: relative;
    overflow-y: auto;
    height:330px;
    /* background-color: #e1e9f5; */
}

#layout_download {
    position: relative;
    width:60%;
    height:100%;
    padding: 0;
    /* background-color: bisque; */
}



#layout_download .downloadBtn {
    position: absolute;
    right:10px;
    top:20px;
    background-color: #00b5ad;
    color: white;
}

#layout_download #section_fileList {
    /* background-color: steelblue; */
    /* justify-content: space-between; */
    width:100%;
    /* padding-left: 20%; */
    height:400px;
    padding-top: 50px;
    /* background-color: tomato; */
}

#layout_download #section_fileList .fileItem{
    /* background-color: red; */
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-direction: row;
    justify-content: space-between; */
    /* font-size: 20pt;
    line-height: 20pt;
    margin-top:20px*/
} 

#layout_download #section_fileList .fileItem label {
    font-size: 15pt;
}

#layout_download #section_pagination {
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    padding-top: 20px;
    /* height:80px; */
    /* background-color: skyblue; */
}
